@import './loadFile.scss';
@import './process.scss';
main {
  flex-grow: 1;
  position: relative;
  margin: 14px 38px 0;
  padding-bottom: 27px;
  display: flex;
  align-items: flex-start;
  @include for-tablet {
    margin: 24px 80px 300px;
  }
  @include for-desktop {
    background-color: $clr-background;
    border-radius: 34px;
    margin: 105px 122px 0px;
    padding: 0 113px 151px 44px;
    justify-content: space-between;
  }
}
.section__version {
  @include set-font(1.5rem, 2rem, $clr-white);
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 13.5px 52.5px;
  background: $clr-gradient;
  border-radius: 34px 0px;
  @include for-desktop {
    display: block;
  }
}

aside {
  display: none;
}

[role='dialog'] {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba($color: $clr-gray, $alpha: 0.7);
  backdrop-filter: blur(1px);

  .modal__content {
    @include main-shadow;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 343px;
    height: 156px;
    background: $clr-white;
    border-radius: 26px;
    /* content layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;

    .modal__detail {
      @include set-font(18px, 1.625rem, $clr-black);
    }
    .button__accept {
      @include set-font(1.125rem, 56px, $clr-white);
      width: 229px;
      height: 56px;
      border-radius: 16px;
      background: $clr-gradient;
      text-align: center;
    }
  }
}

@include for-desktop {
  aside {
    margin-top: 117px;
    display: block;
    .aside__title {
      @include set-font(3.125rem, 4.5rem, transparent);
      font-weight: 700;
      background: $clr-gradient;
      background-clip: text;
      background-clip: text;
    }
    .aside__detail {
      margin-top: 6px;
      @include set-font(1.125rem, 1.625rem, $clr-black);
    }
  }
}
