.section__signInsert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px 16px 24px;
  background: $clr-background;
  .section__wrapper {
    /* content layout */
    overflow-x: scroll;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'page button'
      'content content'
      'tool tool';
    column-gap: 9px;
    align-items: center;
    @include for-tablet {
      grid-template-areas:
        'page button'
        'content content'
        'tool tool';
    }
    @include for-desktop {
      max-width: 1280px;
      grid-template-columns: 10% repeat(4, auto) 10%;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        'content content content content content content'
        'c page scale tool button d';
    }
  }
  .logo {
    display: none;
    @include for-desktop {
      display: block;
      position: absolute;
      left: 40px;
      top: 28px;
      z-index: 999;
    }
  }
}

.file-content__wrapper {
  grid-area: content;
  align-self: stretch;
  margin: 16px auto;
  overflow-y: scroll;

  .file-content__file {
    background: $clr-white;
  }
  .canvas-container {
    margin: 0 auto;

    @media screen and (max-width: 635px) {
      margin: 0 auto;
      text-align: center;
      height: 564px !important;
      width: 400px !important;
      & > canvas {
        height: 564px !important;
        width: 400px !important;
      }
    }

    @include for-tablet {
      margin: 0 auto;
      text-align: center;
      height: 810px !important;
      width: 575px !important;
      & > canvas {
        height: 810px !important;
        width: 575px !important;
      }
    }
    @include for-desktop {
      margin: 0 auto;
      text-align: center;
      height: 1057px !important;
      width: 750px !important;
      & > canvas {
        height: 1057px !important;
        width: 750px !important;
      }
    }
  }
  @include for-desktop {
    margin: 56px 0 0px;
  }
}

.file-paginator {
  grid-area: page;
  padding: 14px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $clr-white;
  border-radius: 16px;
  @include for-desktop {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.11);
  }
  &__page {
    @include set-font(1rem, 1.2rem, $clr-black);
    display: flex;
    gap: 10px;
  }

  &__button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: $clr-gradient;
    border-radius: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: translate(0, -2px);
    }
    img {
      width: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}

.scaler {
  display: none;
  @include for-desktop {
    margin: 24px 0;
    grid-area: scale;
    padding: 15px 16px;
    width: 199px;
    height: 58px;
    border-radius: 16px;
    background: $clr-white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 27px;
      height: 27px;
      cursor: not-allowed;
      &:hover {
        transform: translate(0, -2px);
      }
    }
    .scaler__scale {
      @include set-font(1rem, 1.1875rem, $clr-black);
    }
  }
}
.button__complete {
  @include set-font(1.125rem, 1.625rem, $clr-white);
  grid-area: button;
  justify-self: end;
  min-width: 130px;
  padding: 16px 29px;
  border-radius: 16px;
  background: $clr-gradient;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #ffb800;
  }
  @include for-tablet {
    min-width: 167px;
  }
  @include for-desktop {
    grid-area: button;
  }
  &.button--tool {
    grid-area: tool;
    justify-self: center;
    @include for-tablet {
      width: 260px;
    }
    @include for-desktop {
      width: 183px;
      justify-self: flex-end;
    }
  }
}

.button__homePage {
  text-align: center;
  grid-area: button;
  display: block;
  min-width: 130px;
  height: 58px;
  background: $clr-white;
  border-radius: 16px;
  cursor: pointer;
  @include set-font(1.125rem, 58px, $clr-green);
  @include for-desktop {
    display: none;
  }
}

.toolkit {
  /* position */
  justify-self: center;
  grid-area: tool;
  /* size and border */
  margin: 24px 16px;
  padding: 6.5px 0;
  max-width: 343px;
  border-radius: 16px;
  background: $clr-white;
  /* content layout*/
  display: grid;
  grid-template-columns: repeat(4, 56px);
  justify-content: center;
  @include for-tablet {
    width: 100%;
  }

  .toolkit__item {
    display: grid;
    row-gap: 2px;
  }
  .toolkit-img {
    position: relative;
    justify-self: center;
    width: 24px;
    height: 25px;
    margin: 8px;
    border-radius: 9px;
    background-size: contain;
    cursor: pointer;
    &:hover {
      margin: unset;
      width: 40px;
      height: 40px;
      ~ span {
        color: $clr-green;
      }
    }
    &[id='toolkit-sign'] {
      background-image: url('../../../images/icons/sign.png');
      &:hover {
        background-image: url('../../../images/icons/sign_hover.png');
      }
    }
    &[id='toolkit-check'] {
      background-image: url('../../../images/icons/check.png');
      &:hover {
        background-image: url('../../../images/icons/check_hover.png');
      }
    }
    &[id='toolkit-date'] {
      background-image: url('../../../images/icons/date.png');
      &:hover {
        background-image: url('../../../images/icons/date_hover.png');
      }
    }
    &[id='toolkit-word'] {
      background-image: url('../../../images/icons/word.png');
      &:hover {
        background-image: url('../../../images/icons/word_hover.png');
      }
    }
  }

  &__label {
    @include set-font(0.75rem, 1rem, $clr-gray);
    text-align: center;
  }
}

/* modal */
.signInsert__modal--isDownload {
  .modal__content {
    background: $clr-background;

    .modal__buttons {
      display: flex;
      gap: 12px;

      .button {
        width: 136px;
        height: 56px;
        text-align: center;
        cursor: pointer;
        border-radius: 16px;
      }
      .button__cancle {
        @include set-font(1.125rem, 56px, $clr-green);
        border-radius: 16px;
        border: 1px solid $clr-green;
      }
    }
  }
}

.signInsert__modal--isWording {
  .modal__content {
    width: 343px;
    height: 204px;
    background: $clr-background;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px 29.5px;

    .modal__textarea {
      border: 0;
      background: $clr-white;
      border-radius: 16px;
      padding: 10px 16px;
      resize: none;
      font-family: 'Roboto', 'Noto Sans TC', sans-serif;
      &:active {
        border: 0;
      }
    }

    .modal__buttons {
      display: flex;
      gap: 12px;

      .button {
        width: 136px;
        height: 56px;
        text-align: center;
        cursor: pointer;
        border-radius: 16px;
      }

      .button__cancle {
        @include set-font(1.125rem, 56px, $clr-green);
        border-radius: 16px;
        border: 1px solid $clr-green;
      }
    }
  }
}
